.kenoGame {
  margin-bottom: 40px;
}

.numberButtonDisplayBoard button {
  padding: 3px 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
}

.highlightButton, .highlightButton:hover {
  background-color: #c5202b;
  border-color: #c5202b;
}

.hightLightText {
  color: red;
}

.ballDisplayContainer {
  width: 500px;
}

.ballDisplayContainer svg text {
  font-size: 20px;
}

.bigFont {
  font-size: 20px;
}

.heading {
  font-weight: bold;
}